/* Empty. Add your own CSS if you like */

*{font-size:15px; font-family: 'cwTeXYen', Tahoma, Geneva, sans-serif;}

@font-face {

  /*圓體*/

  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
  url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
  url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

th {
  text-align: center;
}

table input{
  text-align: center;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #81b76a;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
 background-color: #6dbc4b;
}

.jumbotron{
  background-color: #95D47A;
}

.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 10%;
  width:80%;
  height:25%;
}
.modal-content {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  padding: 6px;
  padding-left: 10px;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

#vInfo {
  margin-bottom: 6px;
  padding-bottom: 45px;
}

.golfIcon{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/img/golf.png");
  height: 70px;
  width: 70px;
  margin-top: 15px;
  margin-right: 12px;
}

.numberInput{
  width: 35px;
}

#reminder{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fd5c63;
  color: 
}

#stat{
  padding-bottom: 0px;
  margin-bottom: 20px;
}