<ion-view hide-nav-bar="true" class="wallpaper">
  <ion-content class="padding wallpaper" >
    <div class="row">
      <div class="col">
        <!-- <img src="https://i.imgur.com/6cGC0wx.png" width="100%">-->
        <img src="../img/ibm_icon.png" width="100%">
        </div>
    </div>
    <div class="row">
      <div class="list card col" ng-controller="MediaCtrl">
        <a class="item item-icon-left item-icon-right" href="" ng-click="showImages($event, 'usr', video.link)">
          <i class="icon ion-android-contacts"></i>
            Manager PowerUp day
          <i class="icon ion-android-arrow-forward"></i>
        </a>
      </div>
    </div>
    <div class="row nop">
      <div class="col nop">
        <img src="https://i.imgur.com/HUapdc5.png" width="100%">
        <!-- <img src="../img/icons_crop_2.png" width="100%"> -->
      </div>
    </div>
  </ion-content>
</ion-view>
