<ion-view view-title="BP & IBM">
  <ion-content class="padding" ng-controller="MediaCtrl">
    <ion-list>
      <ion-item class="list card" ng-repeat="(key, img) in imgSet" >
        <div class="item item-divider">{{img.by}}</div>
        <div class="item item-body">
          <div class="item item-image" >
            <img ng-src="https://lvm.swel.tk/api/imgMgt/images/compress/{{img.name}}" ng-click="showImages($event, 'img')">
          </div>
        </div>
        <div class="item item-divider" >
          <span class="button button-small" ng-click="thumbUp(key, img.id, likeSet[key].like)">{{imgSet[key].like}} Like</span>
          <span class="button button-small" ng-click="showImages($event, 'cmt', key)">{{imgSet[key].comment.length}} Comments</span>
        </div>
        <a class="item item-icon-left" ng-repeat="(key, comment) in imgSet[key].comment track by $index">
          <i class="icon ion-chatbubble"></i>
          {{comment}}
        </a>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
  <div ng-controller="uploadCtrl" class="fixed-outside col col-33 col-offset-67" >
    <div class="col">
      <button class="button button-circle button-positive icon ion-android-upload" ng-click="openFileDialog()"></button>
    </div>
    
    <form name="uploadForm">
      <input id="file" type="file" ngf-select ng-model="picFile" name="file" accept="image/*"  required ngf-model-invalid="errorFiles" onchange="angular.element(this).scope().fileAdded(this)">
      <!--<br><span ng-show="!file">Sorry, the field is empty!</span>-->
      <!--<br><span ng-show="file">Successfully validated!</span> -->
      <br>  
      <!--<input ng-show="file" type="submit" ng-click="uploadPic(picFile)" /> -->
      <input ng-show="false" type="submit" ng-click="uploadPic(picFile)" />
      <br>  
      <!--<span ng-show="picFile.result">Upload Successful</span>-->
      <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
    </form> 
  </div>
</ion-view>
<script id="templates/loading.html" type="text/ng-template">
  <ion-spinner class="light"></ion-spinner>
  <br />
  <span>{{progress}} Loading...</span>
</script>

