<ion-view view-title="IBM">
  <ion-content class="padding">

<div class="list card">


  <div class="item item-divider">
    <div class="row">
      <div class="col">Agenda</div>
    </div>
  </div>

  <div class="item item-body" ng-controller="MediaCtrl">
    <!--<img class="full-image" src="https://i.imgur.com/JnGsC9W.jpg" ng-click="showImages($event, 'img')">-->
    <img class="full-image" src="../img/Picture1.png" ng-click="showImages($event, 'img')">
  </div>

</div>
  </ion-content>
</ion-view>
