<ion-view view-title="IBM">
  <ion-content class="padding">

<div class="list card">

  <div class="item item-avatar ">
    <img src="../img/user.png">
    <h2><strong>Hi, There</strong></h2>
    <h2><strong>Welcome to Cognitive Era</strong></h2>
  </div>

  <div class="item item-divider">
    <div class="row">
      <div class="col">Fist Name:</div>
      <div class="col">{{user.First}}</div>
    </div>
    <div class="row">
      <div class="col">Last Name:</div>
      <div class="col">{{user.Last}}</div>
    </div>
    <div class="row">
      <div class="col">From:</div>
      <div class="col">{{user.Com}}</div>
    </div>

  </div>

  <div class="item item-body" ng-controller="MediaCtrl">
    <!--<img class="full-image" src="https://i.imgur.com/JnGsC9W.jpg" ng-click="showImages($event, 'img')">-->
    <img class="full-image" src="../img/outthink.jpg" ng-click="showImages($event, 'img')">
  </div>

</div>
  </ion-content>
</ion-view>
