<ion-view view-title="Seat Info">
  <ion-content class="padding" >

<div class="list card" >

  <div class="item item-avatar ">
    <img src="../img/user.png">
    <h2><strong>Hi, There</strong></h2>
    <h2><strong>Welcome to Cognitive Era</strong></h2>
  </div>

  <div class="item item-divider" >
    <div class="row" ng-show="showUserInfo && foundUser">
      <div class="col">Name:</div>
      <div class="col">{{user.name}}</div>
    </div>
    <div class="row" ng-show='showUserInfo && foundUser'>
      <div class="col">Room: </div>
      <div class="col">{{user.team}}</div>
    </div>  
    <div class="row" ng-show='showUserInfo && foundUser'>
      <div class="col">Table: </div>
      <div class="col">{{user.table}}</div>
    </div>      
    <div class="row" ng-show='showUserInfo && !foundUser'>
      <div class="col">Not Found </div>
      <div class="col">Try again</div>
    </div>        
  </div>

  <div class="item item-body" ng-show='showUserInfo && foundUser'>
    <img ng-if="user.team == 'A'"class="full-image" src="../img/blue.png" ng-click="showImages($event, 'img')">
    <img ng-if="user.team == 'B'" class="full-image" src="../img/red.png" ng-click="showImages($event, 'img')">
  </div>

</div>
<button class="list card button button-block button-positive"" ng-click="next()" ng-show='foundUser'>
  Next
</button>
  </ion-content>
</ion-view>
