<ion-tabs class="tabs-icon-top  tabs-background-dark tabs-color-light tabs-striped tabs-color-light">

  <ion-tab title="Agenda" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/agenda">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Blue-SELFIE" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Feedback" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>

  <ion-tab title="StandDelivery" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/draw">
    <ion-nav-view name="tab-draw"></ion-nav-view>
  </ion-tab> 

</ion-tabs>
